<% include ../partials/admin/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Status Node Admin Panel!</h1>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <a class="btn btn-primary btn-large" href="/admin/status/new">Add New Status</a>
    </div>
</div>

<% include ../partials/admin/footer %>