<% include ../partials/admin/header %> 

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Generate A New Status</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/admin/status/new" method="POST">
                <div class="form-group">
                    <select name="type" class="selectpicker" required>
                        <option value="" disabled selected>Status Type</option>
                        <option value="planned">Planned Maintenance</option>
                        <option value="unplanned">Unplanned Maintenance</option>
                        <option value="incident">Incident</option>
                        <option value="investigating">Investigating</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="message">Status Message</label>
                    <textarea class="form-control" name="message" rows="3" required></textarea>
                  </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/admin/footer %>